#graph-div{
    width: 60%;
}
#graph-btn {
    height: 50px;
    background-color: #45a049; /* Green */
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}
/* New Journal Button Hover */
#graph-btn:hover {
    background-color: #388e3c; /* Darker green */
}
#graph-buttons{
    padding: 20px;
}
.correlation-text {
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
