.headerdiv{
    float: right;
    width: calc(15% - 10px);
    border: solid rgb(255, 255, 255) 5px;
}
.leftheader{
    float: left;
    width: calc(20% - 20px);
    border: solid white 10px;
    max-height: 100%;
}
.logotop{
    width: auto;
    max-height: 100px;
}
.profile_pic{
    width: auto;
    max-height: 100px;
}
/* For the left hand side of the header*/
.header_title{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 27px;
}
.login_header{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;   
}
.logintopdiv{
    float: right;
    width: calc(15% - 10px);
    border: solid rgb(255, 255, 255) 5px;
}
#header_wrap{
    max-height: 20%;
    width: 100%;
    overflow: hidden;
}