{% extends "template.html" %}

{% block title %}
Journals
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/journals.css') }}">
{% endblock %}

{% block main %}

<a href="{{ url_for('new_journal') }}" id="new-journal-btn">New Journal</a>

<div class="journal-container">
    {% for journal in journals %}
    <div class="journal-loop">
        <h1>{{ journal.title }}</h1>
        <p>{{ journal.date_created }}</p>
        <a href="{{ url_for('journal_id', id=journal.id) }}" class="edit-link">
            Edit Journal
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
