{% extends "template.html" %}

{% block title %}
Journals
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/journal.css') }}">
{% endblock %}


{% block main %}
<input type="hidden" id="journal-id" value="{{ journal.id }}">
<div >
    <h1 id="journal-title" contenteditable="true" data-placeholder="Add a title...">{% if journal.title != 'Add Title' %}{{journal.title}}{% endif %}</h1>
    <p id="journal-content" contenteditable="true" data-placeholder="Start writing...">{% if journal.content != 'Add Content' %}{{journal.content}}{% endif %}</p>
    <div class="buttons">
        <button id="save-button" onclick="saveJournal()" aria-label="Save Journal">Save</button>
        <button id="cancel-button" onclick="cancelEdit()" aria-label="Cancel Journal">Cancel</button>
        <button id="delete-button" onclick="deleteJournal()" aria-label="Delete Journal">Delete</button>
        <button id="prompt-button" onclick="showPrompt()" aria-label="Prompt">Prompt</button>
    </div>
    <p id="journal-date">{{journal.date_created}}</p>
</div>

<script>
    const PROMPTS_URL = "{{ url_for('static', filename='JSON/prompts.json') }}";
</script>
<script src="{{ url_for('static', filename='JS/journal-post.js') }}"> </script>

{% endblock %}


