{% extends "template.html" %}

{% block title %}
Login
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
{% endblock %}

{% block main %}

<div class="login-container">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" required name="username" id="username" autocomplete="username" value="{{ username }}"/>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" required name="password" id="password" autocomplete="current-password"/>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>

    <div class="signup-container">
        <a href="signup" id="signup_button">
            <h4 id="signup_text">Sign Up</h4>
        </a>
    </div>
</div>

{% endblock %}
