{% extends "template.html" %}

{% block title %}
Scatter
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/graph.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block main %}
<input type="hidden" id="stats" value="{{ stats }}">
<input type="hidden" id="name" value="{{ name }}">
<div id="graph-div">
    <h1 id="title-graph">Mood vs {{ name }} Minutes</h1>
    <canvas id="scatterChart"></canvas>
</div>
<div id="graph-buttons">
    <a href="{{ url_for('display_scatter_graph', grouptype='exercise') }}" id="graph-btn">Exercise</a>
    <a href="{{ url_for('display_scatter_graph', grouptype='productivity') }}" id="graph-btn">Producitvity</a>
    <a href="{{ url_for('display_scatter_graph', grouptype='meditation') }}" id="graph-btn">Meditation</a>
    <a href="{{ url_for('display_scatter_graph', grouptype='sleep') }}" id="graph-btn">Sleep</a>
</div>
<div>
    <p id="correlation-sentence" class="correlation-text"></p>
    <p id="correlation-sentence2" class="correlation-text"></p>
</div>
<script src="{{ url_for('static', filename='JS/scatter-graph.js') }}"></script>
{% endblock %}


