{% extends "template.html" %}

{% block title %}
Signup
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/signup.css') }}">
{% endblock %}

{% block main %}

<form id = "signup-form" method="post">
    <label for="username">Username: </label>
    <input type="text" required name="username" value="{{ info.username }}"/>
    <div class="name-row">
        <!-- First Name -->
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" required name="firstname" value="{{ info.first_name }}" />
        </div>
        <!-- Last Name -->
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" required name="lastname" value="{{ info.last_name }}" />
        </div>
    </div>
    <label for="email">Email: </label>
    <input type="text" required name="email" value="{{ info.email }}"/>
    <label for="password">Password: </label>
    <input id = "password" type="password" required name="password"/>
    <label for="re-enter-password">Re-enter Password: </label>
    <input id = "re-enter-password" type="password" required name="re-enter-password"/>
    <button type="submit">Submit</button>
</form>
<script>
    orange = "#FBC02D";
    document.getElementById("signup-form").onsubmit = function(event){
        if (document.getElementById("password").value != document.getElementById("re-enter-password").value){
            event.preventDefault();
            showSnackbar("Passwords Do Not Match", orange);
        }
    }
</script>

{% endblock %}