<head>
    <title>
    {% block title %} 
    {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/basic.css') }}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <div id="page_container">
        <div id="header_wrap">
            <!-- Header -->
            <div class="leftheader">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"  class="logotop">
            </div>
            <div class="header_menu">
                <a href="{{ url_for('main') }}" class="header_link">
                    <div class="headerdiv">
                        <h1 class="header_title">Home</h1>
                    </div>
                </a>
                <a href="{{ url_for('calendar') }}" class="header_link">
                    <div class="headerdiv">
                        <h1 class="header_title">Calendar</h1>
                    </div>
                </a>
                <a href="{{ url_for('journal') }}" class="header_link">
                    <div class="headerdiv">
                        <h1 class="header_title">Journals</h1>
                    </div>
                </a>
                <a href="{{ url_for('daily_tracker') }}" class="header_link">
                    <div class="headerdiv">
                        <h1 class="header_title">Daily Tracker</h1>
                    </div>
                </a>
                <a href="{{ url_for('login') }}" class="header_link">
                    <div class="headerdiv">
                        <h1 class="header_title">Meditations</h1>
                    </div>
                </a>
                <!-- Checks if user is logged in and displays corresponding options -->
                {% if loggedin == False %}
                    <a href="{{ url_for('login') }}" class="header_link">
                        <div class="headerdiv">
                            <h1 class="header_title">Login</h1>
                        </div>
                    </a> 
                {% else %}
                    <div class="logintopdiv">
                        <img src="{{ url_for('static', filename='images/Profile_picture_placeholder.png') }}" alt="Logged In" class="profile_pic">
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div id="main_page">
            {% block main %}
            {% endblock %}
            <script src="{{ url_for('static', filename='js/snackbar.js') }}"></script> 
            {% if snackbar is defined and snackbar.need_snackbar == True %}
            <script>
                const snackbar = {
                    message: "{{ snackbar.message }}",
                    colour: "{{ snackbar.colour }}"
                };
                showSnackbar(snackbar.message, snackbar.colour)
            </script>
            {% endif %}
        </div>

        <footer id="footer_wrap">
            <!-- Footer -->
            <div class="footer_menu">
                <a href="{{ url_for('main') }}" class="footer_link">
                    <div class="footerdivs">
                        <h1 class="footer_title">Home</h1>
                    </div>
                </a>
                <a href="{{ url_for('login') }}" class="footer_link">
                    <div class="footerdivs">
                        <h1 class="footer_title">Meditations</h1>
                    </div>
                </a>
                <a href="{{ url_for('journal') }}" class="footer_link">
                    <div class="footerdivs">
                        <h1 class="footer_title">Journals</h1>
                    </div>
                </a>
                <a href="{{ url_for('calendar') }}" class="footer_link">
                    <div class="footerdivs">
                        <h1 class="footer_title">Calendar</h1>
                    </div>
                </a>
                <a href="{{ url_for('daily_tracker') }}" class="footer_link">
                    <div class="footerdivs">
                        <h1 class="footer_title">Daily Tracker</h1>
                    </div>
                </a>
                <a href="{{ url_for('logout') }}" class="footer_link">
                    <div class="footerdivs">
                        <h1 class="footer_title">Logout</h1>
                    </div>
                </a>
            </div>

            <div class="footer_right">
                <h4>Contact Support</h4>
                <p>Email: zenlog.connect@gmail.com</p>
                <p>Phone No: 07232544654</p>
            </div>

            <div class="footer_right">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="footer_logo">
            </div>
        </footer>
    </div>
</body>
